<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="partials/head.html :: site-head"></div>
<body>
<div th:replace="partials/header.html :: site-header"></div>


<!--TODO: Create a posts/create.html view inside of the templates folder. -->
<!--TODO: This HTML page should contain a form for creating a new post.-->

<div class="container">
    <form class="col-md-8 offset-md-2" method="post" action="/posts/create">
        <h1 class="my-4">Create a Post</h1>
        <div class="form-group">
            <label for="name">Title</label>
            <input class="form-control" type="text" id="name" name="name" />
        </div>
        <div class="form-group">
            <label for="price">Body</label>
            <input class="form-control" type="number" step="0.01" id="price" name="price" />
        </div>

        <input class="btn btn-block btn-primary" type="submit" value="Submit" />
    </form>
</div>



<div th:replace="partials/footer.html :: site-footer"></div>
<!--<div th:replace="partials/scripts.html :: site-scripts"></div>-->
</body>
</html>
