<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="partials/head.html :: site-head"></div>
<body>
<div th:replace="partials/header.html :: site-header"></div>



<h1>Here are the ads!</h1>
<br>
<!--/*@thymesVar id="ads" type=""*/-->
<div th:each="ad : ${ads}">

    <h1 th:text="${ad.title}"></h1>

    <p th:text="${ad.description}"></p>
</div>



<div th:replace="partials/footer.html :: site-footer"></div>
<!--<div th:replace="partials/scripts.html :: site-scripts"></div>-->
</body>
</html>